%h1 Questions#index

- @questions.each do |question|
  %span= "#{question.sequence_global} | #{question.label}"
  %br/
  - question.options.each do |option|
    %span= "#{option.sequence} - #{option.label} - #{option.weight}"
    %br/
  %hr/
  