%h1 QuestionGroups#index

- @groups.each do |group|
  %span= "#{group.sequence} | #{group.label}"
  %br/
  - group.score_ranges.each do |range|
    %span= "#{range.category} - #{range.label} - #{range.min}:#{range.max}"
    %br/
  %hr/