body {
	color: #222222;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 15px;
}

#page {
	overflow: hidden;
	width: 700px;
	background-color: #fff;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}

#notice {
	border: 1px solid #73c674;
	background-color: #d1fbd2;
	padding: 10px 5px 10px 5px;
}

#error_explanation {
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #F9D9D8;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1em;
  margin: -7px;
  margin-bottom: 0px;
  background-color: red;
  color: #fff;
}

#error_explanation ul li {
  font-size: 1em;
  list-style: square;
}

.field_with_errors {
  padding: 2px;
  background-color: #F9D9D8;
  display: table;
}

a {
	color: #238cdf;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

div.menu {
	background-color:#FFF9D8;
	border: 1px solid #e1e48c;
	line-height:30px;
	padding:0 5px 0 5px ;
	margin-bottom: 15px;
}

div.menu span.right {
	float:right;
}

table {
	width: 100%;
}

table.index {
	border-collapse: collapse;
}

table.index th {
	text-align: left;
	padding-left: 10px;
}

table.index td {
	height:30px;
}

table.index tr.odd {
	background-color:#D5E9F6;
}

table.index td {
	padding:0 10px 0 10px;
}

table.survey {
	border-collapse:collapse;
}

table.survey th {
	padding-left:5px;
}

table.survey th.option-label {
	text-align: center;
	line-height: 1em;
	font-style: italic;
	font-weight:normal;
}

table.survey th.group-label {
	text-align:left;
}

table.survey td {
	height:30px;
}

table.survey tr.odd {
	background-color:#D5E9F6;
}

table.survey tr.even {
}

table.survey td {
	border-top: 1px solid white;
	padding-left:5px;
}

table.survey tr.header, table.index tr.header {
	border-bottom: 2px solid #565656;
}

table.survey tr.question-group {
	
	font-weight: bold;
	border-bottom: 2px solid #565656;
}

table.survey tr.group-score {
	background-color: #F9D9D8;
}

table.survey tr.total-score {
	background-color: #F9D9D8;
}

table.survey td.info {
	text-align: center;
	padding:0 30px 0 30px;
}

table.survey td.score-label {
	font-weight:bold;
}

table.survey td.score-value {
	text-align: center;
	font-weight:bold;
}

table.survey td.action, p.action {
	text-align: right;
	border-top: 2px solid #565656;
}

p.action {
	padding-top: 4px;
}

span.no-action {
	font-size: 0.8em;
	margin-right: 10px;
}
