= form_for @client do |f|
  - if @client.errors.any?
    %div#error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :name
    %br/
    = f.text_field :name
  
  %p
    = f.label :born_on, "Date of birth"
    %br/
    = f.text_field :born_on

  %p
    = f.label :gender
    %br/
    = f.select :gender, Client::GENDERS.map {|g| [g.humanize, g]}, :include_blank => :true

  %p.action
    %span.no-action= link_to "Cancel", @client
    = f.submit