%h1 List of Clients

%div.menu
  = link_to "New Client", new_client_path

%table.index
  %tr.header
    %th Name
    %th Date of Birth
    %th Gender
    %th &nbsp;
  - @clients.each do |client|
    %tr{:class => cycle('odd', 'even')}
      %td= client.name
      %td= client.born_on
      %td= client.gender.humanize
      %td= link_to "View", client