%h1 Client Details

%div.menu
  = link_to "Back to clients", clients_path
  %span.right
    = link_to "Edit", edit_client_path(@client)


%p
  %b Name:
  = @client.name

%p
  %b Date of birth:
  = @client.born_on

%p
  %b Gender:
  = @client.gender.humanize

%h2 Surveys

%table.index
  %tr.header
    %th Date
    %th Campaign
    %th Completed by
    %th Score
    %th &nbsp;
  - @client.surveys.each do |survey|
    %tr{:class => cycle('odd', 'even')}
      %td= survey.created_at
      %td= link_to survey.campaign.name, survey.campaign
      %td= survey.category.humanize
      %td= "#{ScoreRange.survey_score(survey.category, survey.score)} (#{survey.score})"
      %td= link_to "View", survey
