%div#modal-client{:title => "Assign Client To Survey"}
  = render 'search_client'
  %div#client_search_result

%p{:id => "boubou"}

= form_for([@campaign, @survey]) do |f|
  - if @survey.errors.any?
    %div#error_explanation
      %h2= "#{pluralize(@survey.errors.count, "error")} prohibited this survey from being saved:"
      %ul
        - @survey.errors.full_messages.each do |msg|
          %li= msg
  %p
    %b Campaign:
    = @campaign.name
    
  %p
    %b Client: 
    %span{:id => "client-name"}= @survey.client.name if @survey.client
    - if @survey.client
      = link_to "Change", "#", :id => "button-modal-client"
    - else
      = link_to "Search", "#", :id => "button-modal-client"
    
  %p
    = f.label :category, "Please, tell us you you are"
    %br/
    = f.select :category, Survey::CATEGORIES[@group_category.to_sym].map {|c| [c.humanize, c]}, include_blank: :true
  
  %table.survey
    %tr.header
      %th
      %th.option-label
        Not
        %br/
        True
      %th.option-label
        Somewhat
        %br/
        True
      %th.option-label
        Certainly
        %br/
        True
    - @questions.each do |q|
      %tr{:class => cycle('odd', 'even')}
        %td= q.label
        = f.fields_for :answers, @survey.find_answer(q.id) do |answer|
          - q.options.each do |o|
            %td.info
              = answer.radio_button :option_id, o.id
          = answer.hidden_field :question_id, value: q.id
    %tr
      %td.action{:colspan => 4}
        %span.no-action= @survey.id ? link_to("Cancel", @survey) : link_to("Cancel", @campaign)
        = f.submit
  = hidden_field_tag :group_category, @group_category
  = f.hidden_field :client_id
