= form_tag({:controller => "clients", :action => "search"}, :remote => :true) do
  %p
    = label_tag :client_search_name, "Name: "
    = text_field_tag :client_search_name
  
  %p
    = label_tag :client_search_gender, "Gender: "
    = select_tag(:client_search_gender, options_for_select(Client::GENDERS.map {|g| [g.humanize, g]}), :include_blank => :true)

  %p
    = label_tag :client_search_dob, "Date of birth: "
    = text_field_tag :client_search_dob

  %p= submit_tag "Search"
  

%span#new-client-button-search
  New client

%div#client-new-fields-search
  %p
    = label_tag :client_new_name_search, "Name: "
    = text_field_tag :client_new_name_search
    
  %p
    = label_tag :client_new_gender_search, "Gender: "
    = select_tag :client_new_gender_search, options_for_select(Client::GENDERS.map {|g| [g.humanize, g]}), :include_blank => true

  %p
    = label_tag :client_new_dob_search, "Date of birth: "
    = text_field_tag :client_new_dob_search