%h1 List Of SDQ Surveys

%div.menu
  = link_to("New Adult Survey", new_adult_survey_path) + " | "
  = link_to("New Child Survey", new_child_survey_path)

%br/

%table.index
  %tr.header
    %th Date
    %th Category
    %th Score
    %th
  - @surveys.each do |s|
    %tr{:class => cycle('odd', 'even')}
      %td= s.created_at
      %td= s.category.humanize
      %td= "#{ScoreRange.survey_score(s.category, s.score)} (#{s.score})"
      %td= link_to "View", s