%h1 SDQ Survey Details

%div.menu
  %span.left
    = link_to "Back to campaign", campaign_path(@survey.campaign)
  %span.right
    = link_to("Edit", edit_survey_path(@survey)) + " | "
    = link_to('Destroy', @survey, :confirm => 'Are you sure?', :method => :delete)

%p
  %b Campaign: 
  = @survey.campaign.name

%p
  %b Client:
  = @survey.client.name

%p
  Completed by a
  %u= @survey.category.humanize
  on
  = @survey.created_at

%table.survey
  - @groups.each do |g|
    %tr.question-group
      %th.group-label= g.label
      %th.option-label
        Not
        %br/
        True
      %th.option-label
        Somewhat
        %br/
        True
      %th.option-label
        Certainly
        %br/
        True
    - g.questions.order("sequence_group").each do |q|
      %tr{:class => cycle('even', 'odd', :name => "row_colors")}
        %td= q.label
        - answer = @survey.find_answer(q.id)
        - q.options.each do |o|
          %td.info= "X" if o.id == answer.option_id
    %tr.group-score
      %td.score-label Score
      %td.score-value{:colspan => 3}
        = "#{ScoreRange.group_score(g.id, @survey.category, @survey.group_scores[g.id])} (#{@survey.group_scores[g.id]})"
    %tr
      %td{:colspan => 4} &nbsp;
      - reset_cycle("row_colors")
  %tr.total-score
    %td.score-label Total Difficulties Score
    %td.score-value{:colspan => 3}= "#{ScoreRange.survey_score(@survey.category, @survey.score)} (#{@survey.score})"