= form_for(@campaign) do |f|
  - if @campaign.errors.any?
    %div#error_explanation
      %h2= "#{pluralize(@campaign.errors.count, "error")} prohibited this survey from being saved:"
      %ul
        - @campaign.errors.full_messages.each do |msg|
          %li= msg
  
  %p
    = f.label :name
    %br/
    = f.text_field :name
  
  %p
    = f.label :starts_on, "Start date"
    %br/
    = f.text_field :starts_on
    
  %p
    = f.label :ends_on, "End date"
    %br/
    = f.text_field :ends_on
  
  %p
    = f.label :description
    %br/
    = f.text_area :description

  %p.action
    %span.no-action= link_to "Cancel", @campaign
    = f.submit