%h1 List of Campaigns

%div.menu
  = link_to("New Campaign", new_campaign_path)

%br/

%table.index
  %tr.header
    %th Name
    %th Start Date
    %th End Date
    %th
  - @campaigns.each do |c|
    %tr{:class => cycle('odd', 'even')}
      %td= c.name
      %td= c.starts_on
      %td= c.ends_on
      %td= link_to "View", c