%h1= "Campaign - #{@campaign.name}"

%div.menu
  = link_to "Back to Campaigns", campaigns_path
  %span.right
    = link_to("Edit", edit_campaign_path(@campaign)) + " | "
    = link_to('Destroy', @campaign, :confirm => 'Are you sure?', :method => :delete)

%h2 Details

%p
  %b Start date:
  = @campaign.starts_on

%p
  %b End date:
  = @campaign.ends_on

%p
  %b Description:
  %br/
  = @campaign.description


%h2 Surveys

%div.menu
  = link_to("New Adult Survey", campaign_new_adult_survey_path(@campaign)) + " | "
  = link_to "New Child Survey", campaign_new_child_survey_path(@campaign)

%table.index
  %tr.header
    %th Date
    %th Client
    %th Completed by
    %th Score
    %th &nbsp;
  - @campaign.surveys.each do |s|
    %tr{:class => cycle('odd', 'even')}
      %td= s.created_at
      %td= link_to s.client.name, s.client
      %td= s.category.humanize
      %td= "#{ScoreRange.survey_score(s.category, s.score)} (#{s.score})"
      %td= link_to "View", survey_path(s)