!!! Transitional
%html
  %head
    %title SDQ
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery.min', 'jquery-ui.min', 'jquery_ujs.js', 'application'
    = csrf_meta_tag
  %body
    %div#page
      - if flash[:notice]
        %div#notice= flash[:notice]
      = yield

